<!DOCTYPE html>
<html lang="<%= config.language || 'en' %>">
  <%- partial('_partial/head') %>
  <body id="top">
    <div class="container">
      <%- body %>
    </div>
    <script src="/js/main.js" defer></script>
  </body>
</html>
